{:mvn/repos {"github" {:url "https://maven.pkg.github.com/kepler16/*"}}

 :paths ["src"]

 :deps
 {kepler16/ki {:mvn/version "0.0.3"}
  metosin/reitit {:mvn/version "0.5.12"}
  thheller/shadow-cljs {:mvn/version "2.12.5"}
  cljs-bean/cljs-bean {:mvn/version "1.6.0"}
  cli-matic/cli-matic {:mvn/version "0.4.3"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  juxt/dirwatch {:mvn/version "0.2.5"}
  integrant/integrant {:mvn/version "0.8.0"}
  integrant/repl {:mvn/version "0.3.2"}
  me.raynes/fs {:mvn/version "1.4.6"}
  metosin/jsonista {:mvn/version "0.3.1"}}

 :aliases
 {:server {:exec-fn kepler16.clam.dev.core/start-alternative
           :exec-args {}}

  :publish! {:jvm-opts ["--illegal-access=deny"]
             :extra-deps {kepler16/deploy {:mvn/version "0.1.0"}}
             :exec-fn kepler16.deploy/build-and-deploy!
             :exec-args {:jar "target/lib.jar"
                          :target :clojars
                          :jar-type :thin
                          :sync-pom true
                          :verbose true
                          :group-id kepler16
                          :artifact-id clam
                          :version "4.0.22"}}}}
