{:mvn/repos {"github" {:url "https://maven.pkg.github.com/kepler16/*"}}

 :paths ["src"]

 :deps
 {metosin/reitit {:mvn/version "0.5.10"}
  thheller/shadow-cljs {:mvn/version "2.11.11"}
  cljs-bean/cljs-bean {:mvn/version "1.6.0"}
  uix/core {:git/url "https://github.com/roman01la/uix.git"
            :deps/root "core"
            :sha "2891747e1340986195448052354c3390c9eadd03"}
  uix/dom {:git/url "https://github.com/roman01la/uix.git"
           :deps/root "dom"
           :sha "2891747e1340986195448052354c3390c9eadd03"}
  cli-matic/cli-matic {:mvn/version "0.4.3"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  juxt/dirwatch {:mvn/version "0.2.5"}
  integrant/integrant {:mvn/version "0.8.0"}
  integrant/repl {:mvn/version "0.3.2"}
  me.raynes/fs {:mvn/version "1.4.6"}
  metosin/jsonista {:mvn/version "0.3.0"}}

 :aliases
 {:server {:exec-fn kepler16.clam.dev.core/start-alternative
           :exec-args {}}

  :deployer {:jvm-opts ["--illegal-access=deny"]
             :extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                          kepler16/deploy {:mvn/version "0.0.8"}}}

  :dev {:extra-deps {kepler16/deploy {:local/root "../deploy"}}}

  :generate-pom {:exec-fn kepler16.deploy/pom!
                 :exec-args {:group-id "kepler16"
                             :package-name "clam"
                             :version "4.0.13"}}

  :build {:exec-fn kepler16.deploy/build!
          :exec-args {}}

  :deploy {:exec-fn kepler16.deploy/deploy!
           :exec-args {}}

  :deploy-clojars {:exec-fn kepler16.deploy/deploy-clojars!
                   :exec-args {}}}}
