name: Publish package to GitHub Packages
on:
  push:
    branches:
      - master
    tags:
      - "*"
jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: DeLaGuardo/setup-graalvm@2.0
        with:
          graalvm-version: '19.3.1.java11'

      - uses: DeLaGuardo/setup-clojure@master
        with:
          cli: '1.10.1.727'

      - uses: s4u/maven-settings-action@v2.2.0
        with:
          servers: '[{"id": "github", "username": "${{secrets.ORG_GITHUB_ACTOR}}", "password": "${{secrets.ORG_GITHUB_TOKEN}}"}]'
          githubServer: false

      - run: clojure -Spom

      # weird 2 pass thing to avoid overwriting file while reading it
      - run: clojure -X:deployer:generate-pom > p.xml && mv p.xml pom.xml

      - run: clojure -X:deployer:build

      - run:  clojure -X:deployer:deploy | sh
